<mat-card>
    <mat-accordion>
        <mat-expansion-panel [expanded]="isLessonListVisible">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-chip-list class="header-button-return">
                        <mat-chip>
                            <mat-icon (click)="return()">keyboard_return</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    <span>Lista Lekcji</span>
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>


            <!-- <mat-card>
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="isWatched">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ materiału </th>
                        <td mat-cell *matCellDef="let courses">
                            <mat-icon *ngIf="courses.cloudAsset[0].type == 'application/pdf'; else elseBlock">picture_as_pdf</mat-icon>
                            <ng-template #elseBlock>
                                <mat-icon>video_library</mat-icon>
                            </ng-template>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="courseIconUrl">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa lekcji </th>
                        <td mat-cell *matCellDef="let lessons">{{lessons.lessonTitle}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa pliku </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.cloudAsset[0].assetName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Akcja </th>
                        <td mat-cell *matCellDef="let row" [style.color]="row.color">
                           
                            <button mat-raised-button color="primary" (click)="passURL(row.cloudAsset[0].url, row.cloudAsset[0].type)" target="_blank" matTooltip="Przejdż do panelu nauczania">
                                <mat-icon >play_circle_outline</mat-icon>
                              </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>

                <mat-paginator [pageSize]="5"></mat-paginator>
            </mat-card> -->

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Nazwa lekcji">
            </mat-form-field>

            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">

                    <ng-container matColumnDef="expand">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                        <td mat-cell *matCellDef="let row" [ngClass]="row.verdictName == 'Accepted' ? 'correct' : 'incorrect'">
                            <mat-icon (click)="expandedElement = expandedElement === row ? null : row">zoom_in</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="isWatched">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Typ </th>
                        <td mat-cell *matCellDef="let courses">
                            <mat-icon *ngIf="courses.cloudAsset[0].type == 'application/pdf'; else elseBlock">picture_as_pdf</mat-icon>
                            <ng-template #elseBlock>
                                <mat-icon>video_library</mat-icon>
                            </ng-template>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="courseIconUrl">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa lekcji </th>
                        <td mat-cell *matCellDef="let lessons">{{lessons.lessonTitle}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwa pliku </th>
                        <td mat-cell *matCellDef="let row">
                            {{row.cloudAsset[0].assetName}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Czynności </th>
                        <td mat-cell *matCellDef="let row" [style.color]="row.color">

                            <button (click)="expandedElement = expandedElement === row ? null : row" mat-raised-button color="primary" matTooltip="Zarządzaj studentami grupy">
                                <mat-icon>list</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">

                            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <mat-grid-list class="item" cols="1" rowHeight="25:1">
                                    <mat-grid-tile><b>Materiały wideo</b></mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list class="item" cols="4" rowHeight="15:2" *ngFor="let item of element.cloudAsset">
                                    <mat-grid-tile *ngIf="item.type != 'application/pdf'">
                                        <mat-icon >movie</mat-icon>
                                    </mat-grid-tile>
                                    <mat-grid-tile *ngIf="item.type != 'application/pdf'">{{item.assetName}}</mat-grid-tile>
                                    <mat-grid-tile *ngIf="item.type != 'application/pdf'"><b>Akcja</b></mat-grid-tile>
                                    <mat-grid-tile *ngIf="item.type != 'application/pdf'">
                                        <button mat-raised-button color="primary" (click)="passURL(item.url, item.type)" target="_blank" matTooltip="Przejdż do panelu nauczania">
                                            <mat-icon>play_circle_outline</mat-icon>
                                        </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list class="item" cols="1" rowHeight="25:1">
                                    <mat-grid-tile><b>Materiały PDF</b></mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list class="item" cols="4" rowHeight="15:2" *ngFor="let item of element.cloudAsset">
                                    <mat-grid-tile *ngIf="item.type == 'application/pdf'">
                                        <mat-icon >picture_as_pdf</mat-icon></mat-grid-tile>
                                    <mat-grid-tile *ngIf="item.type == 'application/pdf'">{{item.assetName}}</mat-grid-tile>
                                    <mat-grid-tile *ngIf="item.type == 'application/pdf'"><b>Akcja</b></mat-grid-tile>
                                    <mat-grid-tile *ngIf="item.type == 'application/pdf'">
                                        <button mat-raised-button color="primary" (click)="passURL(item.url, item.type)" target="_blank" matTooltip="Przejdż do panelu nauczania">
                                            <mat-icon>local_library</mat-icon>
                                        </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </div>
                        </td>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row" [class.example-expanded-row]="expandedElement === element">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <mat-toolbar>
        Zawartość
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap=".5rem">
            <mat-icon *ngIf="url && isPDF == false">movie</mat-icon>
            <mat-icon *ngIf="url && isPDF != false">picture_as_pdf</mat-icon>
        </div>

    </mat-toolbar>
    <mat-card-content>
        <!-- <app-video-content [videoURL]=url></app-video-content> -->
        <vg-player *ngIf="url && isPDF == false" (onPlayerReady)="onPlayerReady($event)">
            <vg-overlay-play></vg-overlay-play>
            <vg-buffering></vg-buffering>

            <vg-controls>
                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>

                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>

                <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                <vg-track-selector></vg-track-selector>
                <vg-mute></vg-mute>
                <vg-volume></vg-volume>

                <vg-fullscreen></vg-fullscreen>
            </vg-controls>

            <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                <source [src]="url" type="video/mp4">
            </video>
        </vg-player>
    </mat-card-content>

    <ngx-extended-pdf-viewer *ngIf="url && isPDF == true" [src]=url useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>

</mat-card>