.item{
    background-color: #fdfafa;
    border-radius: 0.2rem;
    // border: 1px solid rgb(62, 151, 253);
    margin-bottom: .5rem;
    -webkit-box-shadow: 2px 2px 5px 0px #00000057;
    -moz-box-shadow: 2px 2px 5px 0px #00000057;
    box-shadow: 2px 2px 5px 0px #00000057;
    padding: .7rem;
  }
  *,div{
    font-family: "Raleway", sans-serif;
  }
.page{
  width: 200%;
  height: 200%;
  background-image: url("../../../../../assets/bg_main.jpg");
  // background-image: url("../../../../../assets/bg_main.jpg");
}
mat-dialog-content{
  width: 140rem;
  height: 100rem;
  
}