ul{
    padding:0
}
li{
    padding: 0
}

a{
    text-decoration: none;
    color: white;
}
a:hover,
a:active{
    color: black;
}
mat-icon{
    margin: .5rem;
}
mat-toolbar{
    
    img{
    height: 4.2rem;;
}
}