mat-form-field {
  width: 30rem;
  font-size: 1.5rem;
  margin-bottom: .1rem;
}
.register-button {
  width: 15rem;
}

mat-checkbox {
  font-size: 1.5rem;
}
mat-card-actions {
  margin: 0;
  padding: 0;
}
img {
  height: 8rem;
}
.card-center {
  margin-top: 5rem;
  position: relative;
}

.icon-space {
  color: gray;
  margin-bottom: 7rem;
  font-size: 10rem;
}

.container > * {
  width: 100%;
}
.login-button {
  background-color: #00e676;
  img {
    height: 2.5rem;
  }
}
