<section fxLayout fxLayoutAlign="center center">

    <mat-card fxFlex.xs="100%" fxFlex="55rem" class="card-center">
        <mat-card-title fxLayoutAlign="center">
            <img src="../../../../assets/user_register.png">
        </mat-card-title>

        <form [formGroup]="registerForm" class="container">

            <mat-form-field>
                <input type="text" matInput placeholder="Nazwa użytkownika" class="form-cotrol" formControlName="firstname">
                <mat-error>Wprowadz nazwę uzytkownika</mat-error>
                <mat-label>
                    <mat-icon>person</mat-icon> Nazwa użytkownika
                </mat-label>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput placeholder="Nazwa użytkownika" class="form-cotrol" formControlName="lastname">
                <mat-error >Wprowadz nazwę uzytkownika</mat-error>
                <mat-label>
                    <mat-icon>person</mat-icon> Nazwa użytkownika
                </mat-label>
            </mat-form-field>

            <mat-form-field>
                <input type="text" matInput placeholder="Nazwa użytkownika" class="form-cotrol" formControlName="username">

                <mat-error>Wprowadz nazwę uzytkownika</mat-error>
                <mat-label>
                    <mat-icon>person</mat-icon> Nazwa użytkownika
                </mat-label>
            </mat-form-field>

            <mat-form-field hintLabel="At least 10 character">
                <input type="password" class="form-cotrol" matInput placeholder="Hasło" formControlName="password">
                <mat-label>
                    <mat-icon>vpn_key</mat-icon> Hasło
                </mat-label>
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Rodzaj konta" class="form-cotrol" formControlName="role">
                    <mat-option value="Student">Student</mat-option>
                    <mat-option value="Nauczyciel">Nauczyciel</mat-option>
                    <mat-option value="Administrator">Administrator</mat-option>
                </mat-select>

                <mat-error >Rola użytkownika</mat-error>
                <mat-label>
                    <mat-icon>person</mat-icon> Uprawnienia
                </mat-label>
            </mat-form-field>


            <mat-form-field>
                <input type="text" matInput placeholder="Adres Email" class="form-cotrol" formControlName="email">

               
                <mat-label>
                    <mat-icon>email</mat-icon> Adres Email
                </mat-label>
            </mat-form-field>

          
            <mat-card-actions fxLayout fxLayoutAlign="center">
                <button class="register-button" type="submit" mat-raised-button color="primary" (click)="register()">Zarejestruj
                </button>
                <button [routerLink]="['/login']" type="submit" class="login-button" mat-raised-button color="accent">
                    <img src="../../../../assets/login-icon-white.png">
                </button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>

<!-- <p>form value : {{addCourseForm.value | json}}</p>
<p>form value : {{addCourseForm.status | json}}</p> -->