section {
    margin-top: 2rem;
    mat-card {
      mat-toolbar {
        height: 4rem;
        text-emphasis: none;
        text-decoration: none;
        font-size: 1.8rem;
        font-family: "Raleway", sans-serif;
        border-radius: 0.2rem;
        // border: 1px solid rgb(62, 151, 253);
        margin-bottom: 3rem;
        -webkit-box-shadow: 2px 2px 5px 0px #00000057;
        -moz-box-shadow: 2px 2px 5px 0px #00000057;
        box-shadow: 2px 2px 5px 0px #00000057;
      }
    }
  }
table {
    width: 100%;
  }
  .filter{
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    // width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  button{
    margin-right: .5rem;
  }
  mat-icon{
    cursor: pointer;
  }
  .icon-add {
    &.neutral {
      color: orange;
    }
    &.positive {
      color: #00e676;
    }
    img {
      height: 2rem;
      color: lightskyblue;
    }
  }
  mat-form-field {
    width: 33rem;
  }