<div>
    <div>

        <mat-card-title fxLayoutAlign="center">
            <img src="../../../../../../assets/lesson.png">
        </mat-card-title>

        <mat-vertical-stepper [linear]="false" #stepper>

            <mat-step [stepControl]="LessonForm">
                <form [formGroup]="LessonForm">
                    <ng-template matStepLabel>Informacje wymagane do utworzenia nowej lekcji</ng-template>
                    <mat-form-field>
                        <mat-label>
                            <mat-icon>title</mat-icon> Nazwa Lekcji
                        </mat-label>
                        <input formControlName="lessonTitle" matInput placeholder="Nazwa lekcji" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            <mat-icon>filter_1</mat-icon> Ważność
                        </mat-label>
                        <input formControlName="priority" matInput placeholder="Ważność" required>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="accent" matStepperNext (click)="addLesson()">
                            <mat-icon>add_box</mat-icon> Dodaj Lekcję</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <form>
                    <ng-template matStepLabel>Dołącz materiały szkoleniowe</ng-template>
                    <mat-form-field>
                        <mat-label>
                            <mat-icon>title</mat-icon> Nazwa Materiału
                        </mat-label>
                        <input [(ngModel)]="serverAssetName" name="serverAssetName" matInput placeholder="Nazwa materiału">
                    </mat-form-field>
                    <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious><mat-icon>arrow_back</mat-icon> Poprzedni</button>
                        <button mat-raised-button color="accent" matStepperNext (click)="onCreate()"><mat-icon>add_box</mat-icon> Dodaj Materiał </button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Dodaj materiały na chmurę</ng-template>
                <app-upload-custom [Id] = "newLessonId"></app-upload-custom>

            </mat-step>

            <mat-step [stepControl]="AssetForm">
                <form [formGroup]="AssetForm">
                    <ng-template matStepLabel>Dołącz link z materiałami szkoleniowymi</ng-template>
                    <mat-form-field>
                        <mat-label>
                            <mat-icon>title</mat-icon> Nazwa Materiału
                        </mat-label>
                        <input formControlName="assetName" matInput placeholder="Nazwa materiału" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            <mat-icon>attachment</mat-icon> Adres Odnośnika
                        </mat-label>
                        <input formControlName="url" matInput placeholder="Adres odnośnika" required>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" matStepperPrevious><mat-icon>arrow_back</mat-icon> Poprzedni</button>
                        <button mat-raised-button color="accent" (click)="addCloudAsset()"><mat-icon>add_box</mat-icon> Dodaj Link</button>
                    </div>
                </form>
                <!-- <p>form value : {{LessonForm.value | json}}</p>
                <p>form value : {{LessonForm.status | json}}</p> -->

                <!-- <p>form value : {{ServerForm.value | json}}</p>
                <p>form value : {{ServerForm.status | json}}</p> -->

                <!-- <p>form value : {{AssetForm.value | json}}</p>
                <p>form value : {{AssetForm.status | json}}</p> -->
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Zakończ</ng-template>

                <div>
                    <button mat-raised-button color="primary" matStepperPrevious><mat-icon>arrow_back</mat-icon> Wróć</button>
                    <button mat-raised-button color="accent" (click)="stepper.reset()"><mat-icon>add_box</mat-icon> Utwórz Nową Lekcję</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>