<br>
<div *ngIf="user">
  <div *ngIf="editable" fxFlex fxLayout="column" fxLayoutGap="5px">
   
    <div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayout.lt-sm="column" fxLayoutGap="5px">
      <mat-card class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        <b> Nazwa użytkownika </b>
      </mat-card>
      <mat-card fxLayoutAlign="start center" class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        <mat-form-field>
          <input matInput #input [value]="user.username" [(ngModel)]="model.username">
        </mat-form-field>
      </mat-card>
      <mat-card class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        <b> Adres email </b>
      </mat-card>
      <mat-card fxLayoutAlign="start center" class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        <mat-form-field>
          <input matInput #input [value]="user.email" [(ngModel)]="model.email">
        </mat-form-field>
      </mat-card>
      <mat-card class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        <b> Uprawnienia </b>
      </mat-card>
      <mat-card fxLayoutAlign="start center" class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        <mat-form-field>
          <mat-select [(ngModel)]="model.role" >
            <mat-option value="Administrator">Administrator</mat-option>
            <mat-option value="Student">Student</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    
    </div>
  </div>
  <div *ngIf="!editable" fxFlex fxLayout="column" fxLayoutGap="5px">

    <div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayout.lt-sm="column" fxLayoutGap="5px">
      <mat-card class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        <b> Nazwa użytkownika </b>
      </mat-card>
      <mat-card class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        {{user.username}}
      </mat-card>
      <mat-card class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        <b> Adres email </b>
      </mat-card>
      <mat-card class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        {{user.email}}
      </mat-card>
      <mat-card class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        <b> Uprawnienia </b>
      </mat-card>
      <mat-card class="header-info" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
        {{user.role}}
      </mat-card>

    </div>
  </div>
</div>
<div>
  <br>
  <div fxLayoutGap="2px" fxLayoutAlign="center">
    <button *ngIf="!editable" mat-raised-button color="primary" (click)="showEditForm()">
      Edytuj
    </button>
    <button *ngIf="editable" mat-raised-button color="accent" (click)="updateUserData()">
      Zapisz
    </button>
    <button *ngIf="editable" mat-raised-button color="primary" (click)="closeEditForm()">
      Anuluj
    </button>
  </div>
</div>