// mat-dialog-content{
//     background-image: url("../../../../../../assets/bg_main.jpg");
// }
mat-form-field {
    width: 100%;
  }
  mat-card{
    font-size: 1.5rem;

  }
  .editor{
    
    background-image: url("../../../../../../assets/bg_main.jpg");
}
  mat-toolbar {
    height: 5rem;
    text-emphasis: none;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: "Raleway", sans-serif;
    border-radius: 0.2rem;
    // border: 1px solid rgb(62, 151, 253);
    margin-bottom: 3rem;
    -webkit-box-shadow: 2px 2px 5px 0px #00000057;
    -moz-box-shadow: 2px 2px 5px 0px #00000057;
    box-shadow: 2px 2px 5px 0px #00000057;
  }
  img {
    height: 3.5rem;
    margin-right: 1rem;
  }
  button{
    margin:.5rem;
}
section {
    margin-top: 2rem;
    mat-card {
      font-size: 1.5rem;
      font-family: "Raleway", sans-serif;
     
    }
  }

  .item{
    background-color: #fdfafa;
    border-radius: 0.2rem;
    // border: 1px solid rgb(62, 151, 253);
    margin-bottom: .5rem;
    -webkit-box-shadow: 2px 2px 5px 0px #00000057;
    -moz-box-shadow: 2px 2px 5px 0px #00000057;
    box-shadow: 2px 2px 5px 0px #00000057;
    padding: .5rem;
    font-size: 1.2rem;
  }
  mat-toolbar {
    height: 3.5rem;
    text-emphasis: none;
    text-decoration: none;
    font-size: 1.8rem;
    font-family: "Raleway", sans-serif;
    border-radius: 0.2rem;
    // border: 1px solid rgb(62, 151, 253);
    margin-bottom: 3rem;
    -webkit-box-shadow: 2px 2px 5px 0px #00000057;
    -moz-box-shadow: 2px 2px 5px 0px #00000057;
    box-shadow: 2px 2px 5px 0px #00000057;
  }
  .icon{
  align-self: end;
  font-size: 1.5rem;
  cursor: pointer;
  }
  mat-expansion-panel{
      margin-bottom: 1rem;
  }
  // *,div{
  //   font-family: "Raleway", sans-serif;
    
  // }
