section {
  margin-top: 2rem;
  //padding: 30px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  mat-card {
    mat-toolbar {
      height: 4rem;
      text-emphasis: none;
      text-decoration: none;
      font-size: 1.8rem;
      border-radius: 0.2rem;
      // border: 1px solid rgb(62, 151, 253);
      margin-bottom: 3rem;
      -webkit-box-shadow: 2px 2px 5px 0px #00000057;
      -moz-box-shadow: 2px 2px 5px 0px #00000057;
      box-shadow: 2px 2px 5px 0px #00000057;
    }
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.example-container > * {
  width: 100%;
}
.new-training {
  padding: 30px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.btn_enlist {
  background-color: orange;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: white;
}
#btn_easy {
  background-color: #33ff66;
}
#btn_hard {
  background-color: #ff3333;
}
// #previous {
//   background-color: #6699ff;
//   color: white;
// }
// #next {
//   background-color: #6699ff;
//   color: white;
// }
.btn-flashcard {
  font-family: "Raleway", sans-serif;
  color: white;
}

.example-card {
  border: 20px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  font-family: "Raleway", sans-serif;
}

// .mat-chip-list, .mat-card-actions, .mat-chip, .button{
//     font-family: 'Raleway', sans-serif;
//     color: whitesmoke;

// }

/*
   *  Flip animation by David Walsh: https://davidwalsh.name/css-flip
   */

/* entire container, keeps perspective */
.flip-container {
  perspective: 1500px;
}
/* flip the pane when hovered */
.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  //   width: 45vw;
  height: 20vh;
  margin: 20px auto;
  font-family: "Raleway", sans-serif;
}
.karta {
  font-family: "Raleway", sans-serif;
}

/* flip speed goes here */
.flipper {
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  backface-visibility: hidden;
  -webkit-box-shadow: 0px 8px 4px -4px rgba(163, 163, 163, 0.25);
  -moz-box-shadow: 4px 8px 4px -4px rgba(163, 163, 163, 0.25);
  box-shadow: 0px 8px 4px -4px #eaf7cf;
  border: 1px solid #d8d7d7;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}
