<section fxFlex fxLayoutAlign="center center">
  
    <mat-card fxFlex.md="100%" fxFlex.lt-md="100%" fxFlex="120rem">
        <mat-toolbar>
            <mat-chip-list class="header-button-return">
                <mat-chip>
                    <mat-icon (click)="return()">keyboard_return</mat-icon>
                </mat-chip>
            </mat-chip-list>

            FISZKI
        </mat-toolbar>
        <div class="flip-container" (click)="flip()" [class.flipped]="flipped">
            <mat-card class="karta">
                <h3>Zestaw : Wiedza ogólna</h3>
            </mat-card>
            <br>
            <mat-card-content class="flipper">
                <mat-card class="front">
                    {{flashcardLists.frontside}}
                    <img *ngIf="flashcardLists.imageUrl" src="{{flashcardLists.imageUrl}}">
                </mat-card>
                <mat-card class="back">
                    {{flashcardLists.backside}}
                </mat-card>
            </mat-card-content>
        </div>
        <mat-card-footer>
            <br>
            <br>
            <br>
            <br>
            <br>

            <br>
            <mat-card-actions>
                <button (click)="deiterate()" color="primary" mat-button mat-raised-button id="previous">Poprzednia</button>
                <button (click)="iterate()" color="primary"  mat-button mat-raised-button id="next">Następna</button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
</section>