<section fxLayoutAlign="center center">
  <mat-card fxFlex.md="100%" fxFlex.lt-md="100%" fxFlex="120rem">

    <mat-toolbar>
      <mat-icon [routerLink]="[ '/']">
        keyboard_arrow_left

      </mat-icon>
      ALGORYTMY
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <mat-icon fxFlex fxLayout fxLayoutAlign="flex-end" (click)="showAlgorithmForm()">add_circle</mat-icon>
      </div>
    </mat-toolbar>

    <mat-card *ngIf="isVisibleCourseForm">
      <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="algorithmTaskAddForm">
            <ng-template matStepLabel>Nowe Zadanie</ng-template>
            <mat-form-field>
              <mat-label>
                <mat-icon>title</mat-icon> Nazwa Zadania
              </mat-label>
              <input matInput placeholder="Nazwa lekcji" formControlName="algorithmTaskName" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                <mat-icon>title</mat-icon> Opis
              </mat-label>
              <input type="textarea" matInput placeholder="Ważność" formControlName="description" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                <mat-icon>business</mat-icon> Poziom Trudności
              </mat-label>
              <mat-select formControlName="levelId">
                <mat-option *ngFor="let level of levels" value="{{level.id}}"> {{level.levelName}} </mat-option>
              </mat-select>
            </mat-form-field>{{examTypeSelector}}
            <mat-form-field>
              <mat-label>
                <mat-icon>business</mat-icon> Kategoria
              </mat-label>
              <mat-select formControlName="algorithmCategoryId">
                <mat-option *ngFor="let category of categories" value="{{category.id}}"> {{category.algorithmCategoryName}} </mat-option>
              </mat-select>
            </mat-form-field>{{examTypeSelector}}
            <mat-form-field>
              <mat-label>
                <mat-icon>business</mat-icon> Typ egzaminu
              </mat-label>
              <mat-select formControlName="complexityId">
                <mat-option *ngFor="let complexity of complexities" value="{{complexity.id}}"> {{complexity.complexityName}} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                <mat-icon>title</mat-icon> Limit Czasu
              </mat-label>
              <input matInput placeholder="Nazwa lekcji" formControlName="timeLimit" pattern="[0-9 ]*" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                <mat-icon>title</mat-icon> Limit Pamięci
              </mat-label>
              <input type="number" matInput placeholder="Ważność" formControlName="memoryLimit" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                <mat-icon>title</mat-icon> Limit Operacji Elementarnych
              </mat-label>
              <input type="number" matInput placeholder="Limit Operacji Elementarnych" formControlName="elementaryOperationLimit" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                <mat-icon>title</mat-icon> Limit Linii Kodu
              </mat-label>
              <input type="number" matInput placeholder="Limit Linii Kodu" formControlName="linesOfCodeLimit" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                <mat-icon>title</mat-icon> Czas na rozwiązanie zadania
              </mat-label>
              <input type="number" matInput placeholder="Czas na rozwiązanie zadania" formControlName="timeToSolve" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                <mat-icon>title</mat-icon> Złożoność
              </mat-label>
              <input type="number" matInput placeholder="Złożoność" formControlName="complexityOrder" required>
            </mat-form-field>{{examTypeSelector}}
            <div>

              <button mat-raised-button color="primary" matStepperNext (click)="closeAlgorithmForm()">Anuluj</button>
              <button mat-raised-button color="accent" (click)="addAlgorithmTaskData()" matStepperNext>Zatwierdź</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="verificationDataAddForm">
          <form [formGroup]="verificationDataAddForm">
            <ng-template matStepLabel>Dane Testowe</ng-template>
            <mat-form-field>
              <mat-label>
                <mat-icon>title</mat-icon> Dane Wejściowe
              </mat-label>
              <input matInput placeholder="Nazwa lekcji" formControlName="inputData" required>
            </mat-form-field>
            <mat-form-field>
              <mat-label>
                <mat-icon>title</mat-icon> Dane Wyjściowe
              </mat-label>
              <input matInput placeholder="Ważność" formControlName="outputData" required>
            </mat-form-field>
            <div>

              <button mat-raised-button color="primary" matStepperPrevious>Wróć</button>
              <button mat-raised-button color="accent" (click)="addVerificationData()" matStepperNext>Zatwierdź</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Gotowe</ng-template>
          Algorytm został dodany
          <div>

            <button mat-raised-button color="primary" matStepperPrevious>Wróć</button>
            <button mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            ZBIÓR ZADAŃ IMPLEMENTACYJNYCH
          </mat-panel-title>
          <mat-panel-description>
            
            <!-- <mat-icon>view_list</mat-icon> -->
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-algorithm-list></app-algorithm-list>
      </mat-expansion-panel>


    </mat-accordion>

  </mat-card>
</section>