<section fxFlex fxLayoutAlign="center center" *ngIf="dragdrop">
    <mat-card fxFlex.md="100%" fxFlex.lt-md="100%" fxFlex="120rem">

        <mat-toolbar>
            Znajdż poprawne ułożenie
        </mat-toolbar>

        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div class="item item-4" fxFlex="30%">
                <mat-card>
                    <div class="example-container">
                        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="diagramElement" [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of diagramElement" cdkDrag>
                                {{item.content}}
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="item item-5" fxFlex="70%">
                <mat-card>
                    <div class="example-container">
                        <div  cdkDropList #doneList="cdkDropList" [cdkDropListData]="diagramScheme" [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
                            <div [ngClass]="isCorrect == true ? 'example-box-second-after' : 'example-box-second'"  *ngFor="let item of diagramScheme; index as i" cdkDrag>
                                <div fxFlex fxLayoutAlign="center center" fxLayoutGap="50px">
                                    <div><b>{{i+1}}</b></div>
                                    <div>{{item.content}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <br><br><br><br>
            <!-- Czas na rozwiązanie egzaminu : <countdown [config]="{leftTime: 150}"></countdown> -->
            <mat-card>
                <div fxFlex fxLayoutAlign="center center" class="button-row">

                    <button mat-raised-button color="primary" (click)="finishExam()">Zakoncz test</button>

                </div>
            </mat-card>
            Czas na ułożenie kart : {{timeleft}}
            <!-- <p>Czas na wykonanie egzaminu {{timeLeft}}</p> -->
            <mat-progress-bar mode="buffer" value="{{timeForProgresBar}}" [ngStyle]="{'color': 'gold'}"></mat-progress-bar>
            <br><br>
    </mat-card>
</section>