<section fxFlex fxLayoutAlign="center center">
    <mat-card fxFlex.md="100%" fxFlex.lt-md="100%" fxFlex="120rem">

        <mat-toolbar>
            <img src="../../../../../assets/course.png">
            Ułóż w poprawnej kolejności
        </mat-toolbar>

        <div gdAreas="side content" gdGap="10px" gdRows="auto" gdAreas.lt-md="side | content" gdRows.lt-md="auto auto auto auto">

            <div gdArea="side">
                <mat-card>
                    <div class="example-container">


                        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of todo" cdkDrag>
                                <mat-icon>{{item}}</mat-icon>

                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div gdArea="content">
                <mat-card>
                    <div class="example-container">


                        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">

                            <div class="example-box" [ngStyle]="{'background-color':setTrue == true ? '#00c853' : 'gold' }" [style.color]="setTrue == true ? 'white':'black'" *ngFor="let item of done" cdkDrag>
                                <mat-icon>{{item}}</mat-icon>


                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>



    </mat-card>
</section>