
<section fxFlex fxLayoutAlign="center center">
    <mat-card class="editor-wrapper" fxFlex.md="100%" fxFlex.lt-md="100%" fxFlex="120rem">

        <mat-toolbar>
            <mat-icon [routerLink]="[ '/algorithms']">
                keyboard_arrow_left

            </mat-icon> Edytor kodu
        </mat-toolbar>
        <mat-accordion>
            <mat-expansion-panel (opened)="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Nazwa algorytmu
                    </mat-panel-title>
                    <mat-panel-description>
                        Rozwiń aby zobaczyć treść zadania oraz parametry potrzebne do poprawnego rozwiązania zadania
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <div class="item item-1" fxFlex="15%">Nazwa algorytmu :</div>
                    <div class="item item-3" fxFlex>{{algorithmTask.algorithmTaskName }}</div>
                </div>

                <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <div class="item item-1" fxFlex="15%">Treść zadania :</div>
                    <div class="item item-3" fxFlex> {{algorithmTask.description}}</div>
                </div>
                <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <div class="item item-1" fxFlex="15%">Złożoność :</div>
                    <div class="item item-3" fxFlex>{{algorithmTask.complexity.complexityName}}</div>
                </div>
                <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <div class="item item-1" fxFlex="15%">Dane wejściowe :</div>
                    <div class="item item-3" fxFlex>{{algorithmTask.verificationData[0].inputData}}</div>
                </div>
                <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <div class="item item-1" fxFlex="15%">Oczekiwany wynik :</div>
                    <div class="item item-3" fxFlex>{{algorithmTask.verificationData[0].outputData}}</div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-toolbar id="menu">
            <div>
                <mat-form-field>
                    <mat-label>Motyw edytora</mat-label>
                    <mat-select selected="" [(ngModel)]="mode">
                        <mat-option value="vs-dark" (click)="setDark()">
                            Dark theme
                        </mat-option>
                        <mat-option value="vs" (click)="setLight()">
                            Light theme
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <mat-form-field>
                    <mat-label>Język programowania</mat-label>
                    <mat-select>
                        <mat-option value="C Sharp">
                            C Sharp
                        </mat-option>
                        <mat-option value="Cpp">
                            Cpp
                        </mat-option>
                        <mat-option value="Java">
                            Java
                        </mat-option>
                        <mat-option value="Groovy">
                            Groovy
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <!-- <input style="display: none" type="file" multiple  (change)="changeListener($event)" #fileInput>     -->
                <!-- <input fileToText type="file" style="display: none" [(files)]="fileModelText" (filesChange)="onTextChanges($event)" multiple="" (onError)="handleError($event)"
                (onProgress)="handleProgress($event)" (onAbort)="handleAbort($event)" #fileInput> -->
                <!-- <button mat-raised-button class="menu-button"  ><img src="../../../../assets/var_icon.png"/></button> -->

                <!-- <input type="file" mat-raised-button class="menu-button" hidden><img src="../../../../assets/var_icon.png"/> --> 
                <!-- <button mat-raised-button class="menu-button">
                    <mat-icon>cloud_upload</mat-icon>
                </button>
                <button mat-raised-button class="menu-button" (click)="openDialog()">
                    <mat-icon>cloud_download</mat-icon>
                </button> -->
                <!-- <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly"></ngb-rating> -->
            </div>
        </mat-toolbar>
        <mat-card>
            <div style="height: 400px">
                <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="code" id="codeeditor"></ngx-monaco-editor>
            </div>
        </mat-card>
        <mat-toolbar id="menu">
            <div class="example-button-row" fxFlex fxLayoutAlign="flex-end center">
                    <mat-form-field class="input">
                        <input matInput placeholder="Dane wejściowe" [(ngModel)]="input">
                    </mat-form-field>

                <!-- <button mat-raised-button class="menu-button" (click)="compileSourceCode()">
                    <mat-icon>translate</mat-icon>
                </button>
                <button mat-raised-button class="menu-button">
                    <mat-icon>play_circle_filled</mat-icon>
                </button> -->
                <button mat-raised-button class="compile-execute-button" (click)="compileSourceCode()" matTooltip="Kompiluj i uruchom rozwiązanie">
                    <mat-icon>play_circle_filled</mat-icon>
                </button>
                <button mat-raised-button class="compile-execute-button" (click)="getMetrics()" matTooltip="Uruchom analizę statyczną">
                    <mat-icon>equalizer</mat-icon>
                </button>
                <button mat-raised-button class="compile-execute-button" (click)="analyzeSourceCode()" matTooltip="Przeprowadż analizę rozwiązania">
                    <mat-icon>emoji_objects</mat-icon>
                </button>
                <button mat-raised-button class="compile-execute-button" (click)="judge()" matTooltip="Oceń rozwiązanie">
                    <mat-icon>check_circle_</mat-icon>
                </button>
                <!-- <button mat-raised-button class="compile-execute-button" (click)="saveVerdict()" matTooltip="Zapisz Werdykt">
                    <mat-icon>save</mat-icon>   
                </button> -->
            </div>
        </mat-toolbar>
        <mat-accordion>
            <mat-expansion-panel (opened)="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Konsola
                    </mat-panel-title>
                    
                </mat-expansion-panel-header>
                <mat-card *ngIf="resultInformation">
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <div class="item item-1" fxFlex="15%">Informacje o kompilacji :</div>
                        <div class="item item-3" fxFlex>{{resultInformation.compile_output }}</div>
                    </div>

                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <div class="item item-1" fxFlex="15%">Dane wyjściowe :</div>
                        <div class="item item-3" fxFlex> {{resultInformation.stdout}}</div>
                    </div>
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <div class="item item-1" fxFlex="15%">Status :</div>
                        <div class="item item-3" fxFlex>{{resultInformation.status.description}}</div>
                    </div>
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <div class="item item-1" fxFlex="15%">Czas :</div>
                        <div class="item item-3" fxFlex>{{resultInformation.time}} s </div>
                    </div>
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <div class="item item-1" fxFlex="15%">Pamięć :</div>
                        <div class="item item-3" fxFlex>{{resultInformation.memory}} kB</div>
                    </div>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
    </mat-card>
</section>