section {
  margin-top: 2rem;
  mat-card {
    mat-toolbar {
      height: 3.5rem;
      text-emphasis: none;
      text-decoration: none;
      font-size: 1.8rem;
      font-family: "Raleway", sans-serif;
      border-radius: 0.2rem;
      // border: 1px solid rgb(62, 151, 253);
      margin-bottom: 1.5rem;
      -webkit-box-shadow: 2px 2px 5px 0px #00000057;
      -moz-box-shadow: 2px 2px 5px 0px #00000057;
      box-shadow: 2px 2px 5px 0px #00000057;
      
      mat-icon{
        cursor: pointer;
      }
    }
  }
}
.my-code-editor {
  .editor-container {
    height: 40rem;
  }
}
.editor-wrapper {
  background-color: #f3f3f3;
}
#menu {
  background-color: white;
  height: 5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
mat-form-field {
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
div {
  img {
    height: 2.5rem;
    margin-bottom: 1rem;
  }
  mat-icon {
    margin-bottom: 1rem;
  }
}
.menu-button {
  background-color: #78909c;
  align-content: center;
  height: 3rem;
 
  margin-right: 1rem;
  color: white;
}
.compile-execute-button{
  background-color: #78909c;
  align-content: center;
  height: 3rem;
  color: white;
 
}
.task-label{
  color: #696969;
}
mat-grid-tile {
  background: rgb(240, 239, 238);
}
mat-card{
  font-size: 1.5rem;
}
.item{
  background-color: #fdfafa;
  border-radius: 0.2rem;
  // border: 1px solid rgb(62, 151, 253);
  margin-bottom: .5rem;
  -webkit-box-shadow: 2px 2px 5px 0px #00000057;
  -moz-box-shadow: 2px 2px 5px 0px #00000057;
  box-shadow: 2px 2px 5px 0px #00000057;
  padding: .7rem;
}
ngb-rating{
  margin-left: 38rem;
}