mat-form-field {
  width: 30rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.login-button {
  width: 15rem;
}
.register-button {
  background-color: #00e676;
}
.card-center {
  margin-top: 5rem;
  position: relative;
}

.icon-space {
  color: gray;
  margin-bottom: 7rem;
  font-size: 10rem;
}

.container > * {
  width: 100%;
}
img {
  height: 8rem;
}
