<section fxFlex fxLayoutAlign="center center">
    <mat-card fxFlex.md="100%" fxFlex.lt-md="100%" fxFlex="120rem">
        <mat-tab-group>
            <mat-tab label="Add lesson">
                <ng-template matTabContent>
                    <app-lesson-edit></app-lesson-edit>
                </ng-template>
            </mat-tab>
            <mat-tab label="Add exam">
                <ng-template matTabContent>
                        <app-exam-edit></app-exam-edit>
                </ng-template>
            </mat-tab>
       
        </mat-tab-group>
    </mat-card>
</section>