<section fxFlex fxLayoutAlign="center center">
    <mat-card fxFlex.md="100%" fxFlex.lt-md="100%" fxFlex="120rem">
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">school</mat-icon> Nowa Lekcja
                </ng-template>
                <app-lesson-edit></app-lesson-edit>>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">format_list_numbered</mat-icon> Nowy Egzamin
                </ng-template>
                <app-exam-edit></app-exam-edit>>
              </mat-tab>
        </mat-tab-group>
    </mat-card>
</section>