<div>
    <div>

        <mat-card-title fxLayoutAlign="center">
            <!-- <mat-icon class="icon-space" fxLayout fxLayoutAlign="center">
                          person
                        </mat-icon> -->
            <img src="../../../../../../assets/exam.png">
        </mat-card-title>


        <mat-vertical-stepper [linear]="isLinear" #stepper>

            <mat-step [stepControl]="ExamAddForm">
                <form [formGroup]="ExamAddForm">
                    <ng-template matStepLabel>Informacje potrzebne do utworzenia egzaminu</ng-template>
                    <mat-form-field>
                        <mat-label>
                            <mat-icon>title</mat-icon> Nazwa Egzaminu
                        </mat-label>
                        <input matInput placeholder="Nazwa Egzaminu" formControlName="examName" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            <mat-icon>filter_1</mat-icon> Liczba pytań
                        </mat-label>
                        <input type="number" matInput placeholder="Liczba pytań" formControlName="numberOfQuestion" [(ngModel)]="examItemsLimit" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            <mat-icon>filter_1</mat-icon> Czas na rozwiązanie egzaminu
                        </mat-label>
                        <input type="number" matInput placeholder="Czas na rozwiązanie egzaminu" formControlName="timeForSolve" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>
                            <mat-icon>business</mat-icon> Typ egzaminu
                        </mat-label>
                        <mat-select [(value)]="examTypeSelector" formControlName="examType">
                            <mat-option value=1> Pytanie - Wpisywanie </mat-option>
                            <mat-option value=2> Pytanie - Wybieranie </mat-option>
                            <mat-option value=3> Ustalanie kolejności</mat-option>
                        </mat-select>
                    </mat-form-field>{{examTypeSelector}}
                    <div>
                        <button mat-raised-button color="accent" (click)="addExam()" matStepperNext><mat-icon>add_box</mat-icon> Utwórz</button>
                    </div>
                    <!-- <p>form value : {{ExamAddForm.value | json}}</p>
                    <p>form value : {{ExamAddForm.status | json}}</p> -->
                </form>
            </mat-step>

            <mat-step *ngIf="examTypeSelector == 1" [stepControl]="questionAddForm">

                <br>
                <mat-chip-list aria-label="Fish selection">

                    <mat-basic-chip *ngFor="let question of questionList" class="chip" selected>
                        <!-- <img class="chip-img" src="../../../../../assets/wrong_icon.png"> -->
                        <span> Pytanie
                            {{question}}</span></mat-basic-chip>

                </mat-chip-list>
                <br>
                <ng-template matStepLabel>Pytanie - Wpisywanie Odpowiedź</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Treść Pytania" name="question" [(ngModel)]="questionModel.questionContent" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Odpowiedź" name="ans" [(ngModel)]="questionModel.answer" required>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious> <mat-icon>arrow_back</mat-icon>Wróć</button>
                    <button mat-raised-button color="accent" (click)="addQuestion()"> <mat-icon>add_box</mat-icon> Utwórz pytanie</button>
                    <button mat-raised-button color="primary" matStepperNext> Przejdź dalej <mat-icon>arrow_forward</mat-icon></button>
                </div>


            </mat-step>

            <mat-step *ngIf="examTypeSelector == 2" [stepControl]="chooseQuestionAddForm">
                <br>
                <mat-chip-list aria-label="Fish selection">
                    <mat-basic-chip *ngFor="let question of questionList" class="chip" selected>
                        <!-- <img class="chip-img" src="../../../../../assets/wrong_icon.png"> -->
                        <span> Pytanie
                            {{question}}</span></mat-basic-chip>
                </mat-chip-list>
                <br>
                <ng-template matStepLabel>Pytanie - Wybieranie odpowiedzi </ng-template>
                <mat-form-field>
                    <mat-label>
                        <mat-icon>title</mat-icon> Treść Pytania
                    </mat-label>
                    <input matInput placeholder="Treść Pytania" name="question" [(ngModel)]="chooseQuestionModel.question" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        <mat-icon>title</mat-icon> Treść Pytania
                    </mat-label>
                    <input matInput placeholder="Poprawna odpowiedź" name="correctAnswer" [(ngModel)]="chooseQuestionModel.correctAnswer" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        <mat-icon>title</mat-icon> Treść Pytania
                    </mat-label>
                    <input matInput placeholder="Opcja 1" name="optionOne" [(ngModel)]="chooseQuestionModel.optionOne" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        <mat-icon>title</mat-icon> Treść Pytania
                    </mat-label>
                    <input matInput placeholder="Opcja 2" name="optionTwo" [(ngModel)]="chooseQuestionModel.optionTwo" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        <mat-icon>title</mat-icon> Treść Pytania
                    </mat-label>
                    <input matInput placeholder="Opcja 3" name="optionThree" [(ngModel)]="chooseQuestionModel.optionThree" required>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious><mat-icon>arrow_back</mat-icon> Wróć</button>
                    <button mat-raised-button color="accent" (click)="addChooseQuestion()"> <mat-icon>add_box</mat-icon> Utwórz pytanie</button>
                    <button mat-raised-button color="primary" matStepperNext>Przejdź dalej <mat-icon>arrow_forward</mat-icon></button>
                </div>
                <!-- <p>form value : {{chooseQuestionAddForm.value | json}}</p>
                <p>form value : {{chooseQuestionAddForm.status | json}}</p> -->

            </mat-step>

            <mat-step *ngIf="examTypeSelector == 3" [stepControl]="dragDropAddForm">
                <br>
                <mat-chip-list aria-label="Fish selection">
                    <mat-basic-chip *ngFor="let question of questionList" class="chip" selected>
                        <!-- <img class="chip-img" src="../../../../../assets/wrong_icon.png"> -->
                        <span> Pytanie
                            {{question}}</span></mat-basic-chip>
                </mat-chip-list>
                <br>

                <ng-template matStepLabel>Ustalanie Poprawnej Kolejności</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Treść Bloku" name="optionThree" [(ngModel)]="dragDropModel.content" required>
                </mat-form-field>
                <mat-form-field>
                    <input type="number" matInput placeholder="Prawidłowa kolejność" name="optionThree" [(ngModel)]="dragDropModel.blockPosition" required>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious> <mat-icon>arrow_back</mat-icon> Wróć</button>
                    <button mat-raised-button color="accent" (click)="addDragDrop()"> <mat-icon>add_box</mat-icon>Utwórz pytanie</button>
                    <button mat-raised-button color="primary" matStepperNext> <mat-icon>arrow_forward</mat-icon> Przejdź dalej</button>
                </div>
                <!-- <p>form value : {{dragDropAddForm.value | json}}</p>
                <p>form value : {{dragDropAddForm.status | json}}</p> -->

            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Zakończ</ng-template>

                <div>
                    <button mat-raised-button color="primary" matStepperPrevious><mat-icon>arrow_back</mat-icon> Wróć</button>
                    <button mat-raised-button color="accent" (click)="stepper.reset()"><mat-icon>add_box</mat-icon> Utwórz Nowy Egzamin</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>