<div fxFlex fxLayoutAlign="center center">
    <div>

        <mat-card-title fxLayoutAlign="center">
            <!-- <mat-icon class="icon-space" fxLayout fxLayoutAlign="center">
                          person
                        </mat-icon> -->
            <img src="../../../../../../assets/exam.png">
        </mat-card-title>

        <form autocomplete="on">

            <mat-form-field>
                <input formControlName="examName" type="text" matInput placeholder="C# course" class="form-cotrol">
                <mat-error class="isValid-feedback">Enter exam name</mat-error>
                <mat-label>
                    <mat-icon>title</mat-icon> Exam name
                </mat-label>
            </mat-form-field>

            <mat-form-field>
                <input formControlName="numberOfQuestions" type="number" matInput placeholder="10" class="form-cotrol">
                <mat-error class="isValid-feedback">
                    Enter number of questions here
                </mat-error>
                <mat-label>
                    <mat-icon>format_list_numbered</mat-icon> Number of questions
                </mat-label>
            </mat-form-field>


            <mat-form-field>
                <input formControlName="timeToSolve" type="text" matInput placeholder="15" class="form-cotrol">
                <mat-error class="isValid-feedback">Enter time here</mat-error>
                <mat-label>
                    <mat-icon>timer</mat-icon> Time to solve
                </mat-label>
            </mat-form-field>

            <!-- <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                <mat-hint>Click the Upload button to sent materials to server</mat-hint>
     
                <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
                <mat-hint>Click the Upload button to sent materials to server</mat-hint> -->

            <mat-form-field>
                <mat-label>
                    <mat-icon>
                        category
                    </mat-icon>Select exam type
                </mat-label>
                <mat-select [(value)]="selected">
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>

            <p>You selected: {{selected}}</p>

            <mat-card-actions fxLayout fxLayoutAlign="center center">
                <button type="submit" mat-raised-button color="primary">
                    <mat-icon>add_circle</mat-icon>
                </button>

            </mat-card-actions>
            <!-- <p>form value : {{addCourseForm.value | json}}</p>
                <p>form value : {{addCourseForm.status | json}}</p> -->
        </form>
    </div>
</div>