<section fxFlex fxLayoutAlign="center center">
    <mat-card fxFlex.md="100%" fxFlex.lt-md="100%" fxFlex="120rem">
        <!-- <app-loading-indicator></app-loading-indicator> -->
        <mat-card *ngIf="!isExamResultVisible">

            <mat-chip-list aria-label="Fish selection">
                <mat-chip>
                    <mat-icon (click)="return()">keyboard_return</mat-icon>
                </mat-chip>
                <div *ngFor="let question of questionList">
                    <mat-basic-chip *ngIf="question===questionIterator" class="chip" id="active" (click)="openQuestion(question)" selected>
                        <span> Pytanie
                            {{question+1}}</span>
                    </mat-basic-chip>
                    <mat-basic-chip *ngIf="question!==questionIterator" class="chip" (click)="openQuestion(question)" selected>
                        <span> Pytanie
                            {{question+1}}</span>
                    </mat-basic-chip>

                </div>
            </mat-chip-list>
        </mat-card>

        <mat-card *ngIf="!isExamResultVisible">
            <mat-card class="question-title">
                <mat-card class="light-bg">
                    {{questions[questionIterator].question}}

                </mat-card>

            </mat-card>
            <br><br>
            <div fxLayout="row wrap" fxLayoutAlign="flex-start" fxLayout.lt-sm="column">
                <ng-container>
                    <button mat-raised-button [ngStyle]="{'background-color': firstOption}" (click)="select(1,questions[questionIterator].optionOne,questionIterator)" class="header-info" fxFlex.lt-sm="100%" fxFlex="0 1 calc(49%)">
                        {{questions[questionIterator].optionOne}}
                    </button>
                    <button mat-raised-button [ngStyle]="{'background-color': secondOption}" (click)="select(2,questions[questionIterator].optionTwo,questionIterator)" class="header-info" fxFlex.lt-sm="100%"
                        fxFlex="0 1 calc(49%)">{{questions[questionIterator].optionTwo}}
                    </button>
                    <button mat-raised-button [ngStyle]="{'background-color': thirdOption}" (click)="select(3,questions[questionIterator].optionThree,questionIterator)" class="header-info" fxFlex.lt-sm="100%"
                        fxFlex="0 1 calc(49%)">{{questions[questionIterator].optionThree}}
                    </button>
                    <button mat-raised-button [ngStyle]="{'background-color': fourthOption}" (click)="select(4,questions[questionIterator].optionFour,questionIterator)" class="header-info" fxFlex.lt-sm="100%"
                        fxFlex="0 1 calc(49%)">{{questions[questionIterator].optionFour}}
                    </button>
                </ng-container>
            </div>
            <br><br><br><br>

            Czas na rozwiązanie egzaminu : {{timeLeft}}
            <!-- <p>Czas na wykonanie egzaminu {{timeLeft}}</p> -->
            <mat-progress-bar mode="buffer" value="{{timeForProgresBar}}" [ngStyle]="{'color': 'gold'}"></mat-progress-bar>
            <br><br>
            <mat-card>
                <div fxFlex fxLayoutAlign="center center" class="button-row">

                    <!-- <button mat-raised-button color="primary">Pierwsze pytanie</button> -->
                    <button mat-raised-button [routerLink]="[ '/courses']">
                        <mat-icon>keyboard_arrow_left</mat-icon> Powrót
                    </button>

                    <button mat-raised-button (click)="previousQuestion()">
                        <mat-icon>keyboard_arrow_left</mat-icon> Poprzednie pytanie
                    </button>
                    <button mat-raised-button>
                        <mat-icon>info</mat-icon> Wskazówka
                    </button>
                    <button mat-raised-button (click)="setAsMarked()" [disabled]="!nextQuestionButtonPrevent"> Zatwierdż pytanie</button>
                    <button mat-raised-button (click)="nextQuestion()">Następne pytanie <mat-icon>keyboard_arrow_right</mat-icon> </button>
                    <button mat-raised-button (click)="finishExam()">Zakoncz test</button>

                </div>
            </mat-card>
        </mat-card>

        <mat-card *ngIf="isExamResultVisible" fxLayout fxLayoutAlign="center center">


            <img *ngIf="mark == 'Bardzo dobry'" src="../../../../../assets/5.png">
            <img *ngIf="mark == 'Dobry'" src="../../../../../assets/4.png">
            <img *ngIf="mark == 'Dostateczny'" src="../../../../../assets/3.png">
            <img *ngIf="mark == 'Niezaliczone'" src="../../../../../assets/nzal.png">

        </mat-card>
        <mat-card *ngIf="isExamResultVisible">
            <mat-grid-list cols="3" rowHeight="25:2">
                <mat-grid-tile> <b>Numer pytania</b> </mat-grid-tile>
                <mat-grid-tile> <b>Udzielona odpowiedż</b> </mat-grid-tile>
                <mat-grid-tile> <b>Czy odpowiedż poprawna</b></mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="3" rowHeight="25:2" *ngFor="let answer of answersTemporaryDraft">
                <mat-grid-tile>Pytanie {{answer.id+1}}</mat-grid-tile>
                <mat-grid-tile>{{answer.answer}}</mat-grid-tile>
                <mat-grid-tile>
                    <span *ngIf="answer.isTrue === true"> Poprawnie</span>
                    <span *ngIf="answer.isTrue === false"> Błędnie</span>
                    </mat-grid-tile>
            </mat-grid-list>

        </mat-card>
        <mat-card *ngIf="isExamResultVisible">
            <div fxFlex fxLayoutAlign="center center" class="button-row">
                <button mat-raised-button (click)="goToResult()"> Moje Wyniki</button>
            </div>
        </mat-card>

    </mat-card>
</section>