section {
  margin-top: 2rem;
  mat-card {
    mat-toolbar {
      height: 4rem;
      text-emphasis: none;
      text-decoration: none;
      font-size: 1.8rem;
      font-family: "Raleway", sans-serif;
      border-radius: 0.2rem;
      // border: 1px solid rgb(62, 151, 253);
      margin-bottom: 3rem;
      -webkit-box-shadow: 2px 2px 5px 0px #00000057;
      -moz-box-shadow: 2px 2px 5px 0px #00000057;
      box-shadow: 2px 2px 5px 0px #00000057;
    }
  }
}
mat-basic-chip {
  -webkit-box-shadow: 2px 2px 5px 0px #00000057;
  -moz-box-shadow: 2px 2px 5px 0px #00000057;
  box-shadow: 2px 2px 5px 0px #00000057;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  cursor: default;
  &:hover {
    background-color: #f5f5f5;
  }
}
mat-card {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}
.question-answered {
  background-color: #52ccf1;
}
.header-info {
  margin: 0.5rem;
  font-size: 1.5rem;
  height: 5rem;
  background-color: #f5f5f5;
  color: black;
}
.button-row {
  button {
    margin-right: 1rem;
  }
}
.question-title {
  font-size: 1.6rem;
  background-color: #f5f5f5;
}
.chip-img {
  height: 1.5rem;
}
button {
  background-color: #f5f5f5;
  &:hover {
    background-color: #00e676;
  }
}
