tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    //background: #fafafa;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    //background: #e2e2e2;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    //background: #fafafa;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  table {
    // text-align: center !important;
    width: 100%;
  }
  mat-icon {
    cursor: pointer;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-header-cell {
    text-align: center;
  }
  :host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
  }
  .icon-positive{
      color: limegreen;
  }
  img{
      height: 2rem;
      cursor: pointer;
  }
  .incorrect{
    background-color: #fd9d8d;
  }
  .correct{
    background-color: #69f0ae;
  }