section {
  margin-top: 2rem;
  
  mat-card {
    font-size: 1.7rem;
  }
  img {
    max-height: 40rem;
    height: 100%;;
  }
}
.chart {
  // width: 35rem;
}
.header-info {
  margin: 0.5rem;
  font-size: 1.6rem;
  background-color: #fafafa;
}
