section {
  margin-top: 2rem;

  mat-card {
    text-justify: initial;
    text-align: justify;
    font-size: 1.5rem;
    font-family: "Raleway", sans-serif;
    mat-card-title {
      // text-align: center;
      font-size: 1.8rem;
    }
    p {
      font-size: 1.5rem;
    }
    span{}
  }
  img {
    max-height: 33rem;
    height: 100%;
  }
}

.header-info {
  margin: 0.5rem;
  font-size: 1.6rem;
  background-color: #fafafa;
}
