<section fxFlex fxLayoutAlign="center center">

    <mat-card fxFlex.md="100%" fxFlex.lt-md="100%" fxFlex="120rem">
        <mat-tab-group>
            <mat-tab label="Lesson panel">
                <ng-template matTabContent>
                    <app-lesson></app-lesson>
                </ng-template>
            </mat-tab>
            <mat-tab label="Exam panel">
                <ng-template matTabContent>

                </ng-template>
            </mat-tab>
            <mat-tab label="Exam List">
                <ng-template matTabContent>
                </ng-template>
            </mat-tab>
            <mat-tab label="Lesson List">
                <ng-template matTabContent>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</section>